<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/28059027_1648834591863807_8542393384974130264_n.jpg">
    </div>
    {{>footer}}
</body>
</html>